#
# Copyright (c) 2013, Prometheus Research, LLC
# Released under MIT license, see `LICENSE` for details.
#


# README files.
include README LICENSE

# Include demo files.
recursive-include demo *.py Makefile


